.header-search {
  position: relative;
}

.header-search__input {
  min-width: 300px;
}

.search-results {
  position: absolute;
  padding: 0;
  bottom: -10px;
  right: 0;
  width: 100%;
  transform: translateY(100%);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: visibility .2s linear, opacity .2s linear;
  opacity: 0;
}

.search-results.has-results {
  opacity: 1;
}

.search-results__empty,
.search-results__link,
.search-results__all-link {
  font-size: 14px;
  padding: 0.5rem 1rem;
  width: 100%;
  display: block;
}

.search-results__link {
  color: inherit;
}

.search-results__item:first-child {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.search-results__item:last-child {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.search-results__item:hover {
  background-color: #EBF4FF;
}

.search-results__description {
  font-size: 12px;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
