
<div class="card-wrapper">
  <div
    class="flip-card"
    [class.active]="isFlipped"
    (click)="onPreviewClick()"
  >
    <div class="flip-card__front">
      <img
        #image
        [hidden]="!isImageLoaded"
        [alt]="movie.title"
        [title]="movie.title"
        class="preview-image"
      >

      <div
        [hidden]="isImageLoaded"
        class="loader"
      ></div>
    </div>

    <div class="flip-card__back">
      <h4 class="title is-size-4 is-size-3-mobile has-text-centered">{{ movie.title }}</h4>

      <p class="flip-card__overview">
        Genres: <b>{{ getGenresList() }}</b>
      </p>

      <p>Release: <b>{{ movie.release_date | date:"MMMM dd, yyyy" }}</b></p>

      <p>Rating: {{ movie.vote_average }}</p>

      <div class="flip-card__info">

        <a
          class="flip-card__details"
          [routerLink]="'/movie/' + movie.id"
          (click)="onDetailsClick($event)"
        >
          Movie details
        </a>
      </div>
    </div>
  </div>
</div>
