<header class="app-header">
  <a [routerLink]="'/'">A-Movies</a>

  <ul
    class="nav-list"
    [class.nav-list--opened]="isMenuOpened"
  >
    <li class="nav-item">
      <a
        class="nav-link" [routerLink]="['/popular']"
        [class.active]="activeRoute === '/popular'"
        (click)="toggleMenu(false)"
      >Popular</a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link" [routerLink]="['/top-rated']"
        [class.active]="activeRoute === '/top-rated'"
        (click)="toggleMenu(false)"
      >Top rated</a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link" [routerLink]="['/now-playing']"
        [class.active]="activeRoute === '/now-playing'"
        (click)="toggleMenu(false)"
      >Now Playing</a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link" [routerLink]="['/upcoming']"
        [class.active]="activeRoute === '/upcoming'"
        (click)="toggleMenu(false)"
      >Upcoming</a>
    </li>

    <li class="nav-item is-hidden-desktop">
      <a
        class="nav-link" [routerLink]="['/search']"
        [class.active]="activeRoute === '/search'"
        (click)="toggleMenu(false)"
      >Search</a>
    </li>
  </ul>

  <app-header-search
    class="header-search"
  ></app-header-search>

  <button
    class="burger-menu__button is-hidden-desktop"
    (click)="toggleMenu(!isMenuOpened)"
  >
    <i [class]="isMenuOpened ? 'fas fa-times' : 'fas fa-bars'"></i>
  </button>

  <!-- <a
    *ngIf="!isAuth"
    class="button"
    [routerLink]="linkHref"
  >
    {{ linkTitle }}
  </a> -->
</header>
