.app-header {
  padding: 10px 15px;
  background-color: #282350;
  box-shadow: 0 4px 12px rgba(21,18,41, .6);
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 2;
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-left: 3rem;
}

.nav-list > .nav-item {
  margin-left: 1rem;
  position: relative;
  padding: 5px 0;
}

.nav-link {
  color: inherit;
}

.nav-link:hover {
  opacity: .6;
}

.nav-link::after, .nav-link::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  background-color: red;
  transition: width .5s linear;
}

.nav-link::before {
  left: 0;
}

.nav-link::after {
  right: 0;
}

.nav-link.active::after, .nav-link.active::before {
  width: 50%;
}

.burger-menu__button {
  margin-left: auto;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 1.5rem;
  position: relative;
  z-index: 50;
}

@media (max-width: 1023px) {
  .nav-list {
    width: 100vw;;
    position: fixed;
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: transform .25s ease;
    background-color: #1d193f;
  }

  .nav-list--opened {
    transform: translateX(0);
  }

  .nav-list > .nav-item {
    margin: 1rem 0;
  }
}

.header-search {
  margin-left: auto;
}
