.app-header {
  padding: 10px 15px;
  background-color: #282350;
  box-shadow: 0 4px 12px rgba(21,18,41, .6);
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
