.app-content {
  padding: 0 15px 15px 15px;
}

.main-scrollbar {
  max-height: calc(100vh - 60px);
  overflow-y: auto;
  margin-top: 60px;
}

.global-loader {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .85);
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
