.top-content {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
}

.poster {
  flex: 1 0 auto;
  margin: 0 auto 2rem auto;
  width: 100%;
  max-width: 500px;
}

.top-info {
  flex: auto;
}

.top-info > p:first-child {
  margin-bottom: 2rem;
  transform: translateY(-5px);
}

.top-info__details {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.top-info__details p {
  width: 50%;
  min-width: 250px;
}

.main-title {
  margin: 0 0 3rem;
}

p {
  margin-bottom: 1rem;
}

p > b {
  padding-left: 0.5rem;
}

.similar-movies {
  margin-top: 2rem;
}

.movie-videos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.movie-button {
  margin-bottom: 1rem;
  flex-grow: 0;
  flex-shrink: 1;
  max-width: 90.5vw;
}

.movie-button__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


@media (min-width: 1200px) {
  .top-info {
    margin-left: 2rem;
  }

  .top-content {
    flex-wrap: nowrap;
  }
}
