<ng-container *ngIf="details">
  <h2 class="title main-title is-2 has-text-centered">{{ details.title }}</h2>

  <div class="top-content">
    <div class="poster">
      <img
        [src]="'https://image.tmdb.org/t/p/w500/' + details.poster_path"
        alt="image"
      >
    </div>

    <div class="top-info">
      <p>{{ details.overview }}</p>

      <div class="is-divider">
        <div class="text">Details</div>
      </div>

      <p><span>Genres:</span> {{ details.genres }}</p>

      <p><span>Cast:</span> {{ cast }}</p>

      <p><span>Rating:</span> {{ details.vote_average }} by {{ details.vote_count }} people</p>

      <p><span>Budget:</span> {{ details.budget }}$</p>

      <p><span>Duration:</span> {{ details.runtime }}</p>

      <p><span>Produced by:</span> {{ details.production_companies }}</p>

      <p><span>Produced in:</span> {{ details.production_countries }}</p>

      <p><span>Release date:</span> {{ details.release_date | date:"MMMM dd, yyyy" }}</p>
    </div>
  </div>
</ng-container>
