<ng-container *ngIf="details">
  <div class="top-content">
    <div class="poster">
      <img
        [src]="'https://image.tmdb.org/t/p/w500/' + details.poster_path"
        alt="image"
      >
    </div>

    <div class="top-info">
      <h2 class="title main-title is-2 has-text-centered">{{ details.title }} ({{ details.release_date | date:"yyyy" }})</h2>

      <p>{{ details.overview }}</p>

      <p>Cast: <b>{{ cast }}</b></p>

      <section class="top-info__details">
        <p>Genres: <b>{{ details.genres }}</b></p>
        <p>Rating: <b>{{ details.vote_average }} by {{ details.vote_count }} people</b></p>
        <p *ngIf="details.budget">Budget: <b>{{ details.budget }}$</b></p>
        <p>Duration: <b>{{ details.runtime }} minutes</b></p>
        <p>Produced by: <b>{{ details.production_companies }}</b></p>
        <p>Produced in: <b>{{ details.production_countries }}</b></p>
        <p>Release: <b>{{ details.release_date | date:"MMMM dd, yyyy" }}</b></p>
      </section>

      <section class="top-info__videos">
        <app-movie-videos
          [videos]="videos"
        ></app-movie-videos>
      </section>
    </div>
  </div>

  <div class="similar-movies">
    <h2 class="title is-3">Similar movies</h2>

    <div class="similar-movies__content">
      <app-movie-preview
        *ngFor="let movie of similarMovies"
        [movie]="movie"
        [isFlipped]="!!flippedPreviews[movie.id]"
        (previewClick)="onPreviewClick($event)"
        (detailsClick)="onPageLoad($event.id)"
      ></app-movie-preview>
    </div>
  </div>
</ng-container>
