.movie-videos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.button {
  margin-bottom: 1rem;
  flex-grow: 0;
  flex-shrink: 1;
  max-width: 90.5vw;
}

.movie-button__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
