.popular-movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-auto-rows: calc(300px + 10vh + 30vw);
  grid-gap: 1rem;
}

.load-more-button {
  background-color: rgba(0, 0, 0, .6);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: 1px solid rgb(20, 23, 63);
  outline: none;
  color: white;
  font-size: 140%;
  cursor: pointer;
}

.title {
  margin: 2.5rem 0 3rem;
}

@media screen and (min-width: 768px) {
  .popular-movies {
    grid-auto-rows: 380px;
  }
}

@media screen and (min-width: 1900px) {
  .popular-movies {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
