<h2 class="title is-2 has-text-centered">{{title | titlecase }} Movies</h2>

<div class="movies-preview__wrapper">
  <app-movie-preview
    *ngFor="let movie of movies"
    [movie]="movie"

    [isFlipped]="!!flippedPreviews[movie.id]"
    (previewClick)="onPreviewClick($event)"
  ></app-movie-preview>
</div>

<div class="pagination-wrapper">
  <app-pagination
    *ngIf="isPagination"
    [hidden]="!movies.length"
    [maxPage]="maxPage"
    [page]="currentPage"
    (change)="onPaginationChange($event)"
  ></app-pagination>
</div>
