.load-more-button {
  background-color: rgba(0, 0, 0, .6);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: 1px solid rgb(20, 23, 63);
  outline: none;
  color: white;
  font-size: 140%;
  cursor: pointer;
}

.title {
  margin: 2.5rem 0 3rem;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
