/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Enriqueta';
  src: url('./assets/fonts/Enriqueta-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Enriqueta';
  src: url('./assets/fonts/Enriqueta-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

html {
  overflow: hidden;;
}

body, html {
  background-color: #1d193f;
}

body {
  padding: 0;
  margin: 0;
  color: white;
  position: relative;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.pagination-link {
  background-color: white;
}

p {
  letter-spacing: 0.4px;
}

.full-screen-form {
  height: calc(100vh - 75px);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}

[hidden] {
  visibility: hidden!important;
}

.title {
  color: inherit;
  font-family: 'Enriqueta', serif;
  letter-spacing: 0.5px;
  font-weight: 700;
}

.youtube-player iframe {
  height: 80vh;
  width: 80vw;
  max-width: 1300px;
}

/* Scrollbar */

.simplebar-scrollbar:before {
  background-color: rgba(255, 255, 255, .5)!important;
}

/* Movie preview grid */

.movies-preview__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-auto-rows: calc(300px + 10vh + 30vw);
  grid-gap: 1rem;
}

@media screen and (min-width: 768px) {
  .movies-preview__wrapper {
    grid-auto-rows: 380px;
  }
}

@media screen and (min-width: 1900px) {
  .movies-preview__wrapper {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
